.material-icons-outlined.md-18 {
  font-size: 18px;
}

.material-icons-outlined.md-24 {
  font-size: 24px;
}

.material-icons-outlined.md-32 {
  font-size: 32px;
}

.material-icons-outlined.md-64 {
  font-size: 64px;
}

.material-icons-outlined.md-84 {
  font-size: 84px;
}
